*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
project1-sandwich-club-app/.idea/
project1-sandwich-club-app/build/
project1-sandwich-club-app/local.properties
